html{
    background-color: #1F2833;
}
#tittle{
    color:rgb(218, 135, 27);text-align:center;
}
.text{
    color: black;text-align: center;text-decoration: wavy;
}
.text{
    text-align: center;
    color: white;
}
.game{
    border: 100px solid green;
    padding: 250px;
    margin: auto;
}
a{
    text-decoration: none;
}